@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";

html {
    margin: 25px;
    background-color: lightblue;
    font-family: verdana;
    font-size: 20px;
}

h3 {
    margin-top: 20px;
    background-color: lightblue;
    font-size: 30px;
    font-weight: bolder;
}

p {
    margin-top: 10px;
    margin-left: 15px;
    background-color: lightblue;
}
.nav-bar {
    text-align: center;
    margin-top: 20px;
}

.nav-bar a {
    margin: 0 20px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.nav-bar a:hover {
    color: #0074D9;
}
